@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;900&display=swap');

body{
    display: block;
    color: #3A4754;
    background-color:  #e8e2f09d;
    font-family: 'Bitter', serif;
}


hr{
    color: #8501C2;
}

.alert{
    width: 70%;
    margin: 0.5rem auto;
    height: 100%;
}

.alert h3{
    color: #8501C2;
}

.publish-data{
    font-size: 0.7rem;
    color: #d3d3d3;
}

