body{
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3A4754;
    background-color: #d3d3d385;
}


hr{
    color: #8501C2;
}

.alert{
    width: 70%;
    margin: 0.5rem auto;
}

.alert h3{
    color: #8501C2;
}

.publish-data{
    font-size: 0.7rem;
    color: #d3d3d3;
}
