{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login/css/login_style.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/form_style.css' %}">
</head>
<body>
<a href="{% url 'main' %}"><img class="logo" src="{% static 'main/img/logo.png' %}" alt=""></a>
{% if not reset_password %}
<section class="content">
    <form method="post" class="row g-3" action="">
        {% csrf_token %}
        {{ form.email }}
        <span class="error-massage">{{ error }}</span>
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
</section>
{% endif %}
{% if reset_password %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Оповещение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Пароль успешно изменен! <br>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" href="{% url 'login' %}">Закрыть</a>
            </div>
        </div>
    </div>
{% endif %}
</body>
</html>