@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;900&display=swap');

body{
    display: block;
    color: #3A4754;
    background-color:  #e8e2f09d;
    font-family: 'Bitter', serif;
}

.content{
    height: min-content;
    line-height: 1.5;
}

.main{
    /*background-color: #202135;*/
    /*background: url("../img/hall.jpg");*/
    display: flex;
    padding: 2rem 3rem;
}

.main-left{
    width: 60%;
    text-align: left;
    font-weight: 400;
    text-shadow: 1px 1px black;
    margin-left: 3rem;
}

.main-left-text{
    color: #18002396;
    padding: 2rem 0;
    width: 80%;
}

.main-left h1{
    font-size: 3rem;
    color: #8A00C8;
    width: 90%;
    text-shadow: 1px 1px black;
    line-height: 1;
    font-weight: 400;
}

.main-left p{
    font-size: 1.7rem;
}

.main-right{
    width: 40%;
    text-align: right;
    color: #360046;
    margin: auto 3rem;
}

.booking{
    margin-top: 3rem;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #6B7D92;
    padding-bottom: 4rem;
}

.booking h3{
    font-size: 2rem;
    color: #8A00C8;
    font-weight: 400;
    text-shadow: 1px 1px black;
}

.booking p{
    width: 60%;
    font-size: 1.15rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    margin-top: 2rem;
}

.book-time{
    padding: 20px 40px 20px 40px;
    font-size: 1rem;
    background-color: #202135;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .6s ease;
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    width: max-content;
}

.book-time:hover{
    color: white;
    transform: scale(1.05);
    background-color: #8501C2;

}

@media screen and (max-width: 1024px) {
    
    .main-left h1{
        font-size: 2.3rem;
    }
    
    .main-left p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    
    .main-left h1{
        font-size: 1.8rem;
    }
    
    .main-left p{
        font-size: 1.1rem;
    }

    .main{
        display: block;

    }

    .main-left, .main-right{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 1rem;
    }

    .main-left h1{
        margin: 1rem auto;
    }

    .main-left-text{
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .booking h3{
        font-size: 1.7rem;
    }

    .booking p{
        font-size: 1rem;
    }

    .book-time{
        padding: 10px 30px;
    }
}

@media screen and (max-width: 425px) {
    
    .main{
        padding: 0;
    }

    .main-left p{
        font-size: 0.9rem;
    }

    .book-time{
        padding: 10px 30px;
    }

    .booking p{
        width: 90%;
        font-size: 0.8rem;
    }

}