body{
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3A4754;
    background-color: #d3d3d385;
}

.content{
    height: min-content;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

.nav{
    display: flex;
    list-style: none;
    text-align: center;
    font-weight: bold;
}

.nav a{
    list-style: none;
    text-decoration: none;
    color: #3A4754;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    transition: all .6s ease;
}

.nav a:hover{
    color: #8501C2;
    transform: scale(1.05);
}

.logo{
    width: 220px;
    transition: all .6s ease;
}

.logo:hover{
    transform: scale(1.05);
}

.btn-login{
    padding: 10px 35px 10px 35px;
    font-size: 0.8rem;
    background-color: #202135;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .6s ease;
}

.btn-login:hover{
    box-shadow: 0 0 0.7em 0 #8501C2, 0 0 0.7em 0 #8501C2;
    transform: scale(1.05);
    color: white;
}

.main{
    /*background-color: #202135;*/
    /*background: url("../img/hall.jpg");*/
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(133,1,194,1) 45%, rgba(0,212,255,0) 100%);
    display: flex;
    padding: 2rem 3rem;
}

.main-left{
    width: 50%;
    text-align: left;
    font-weight: 900;
}

.main-left-text{
    color: #ebebeb;
    padding: 2rem 0;
    width: 80%;
}

.accordion-button:not(.collapsed){
    color: #8501C2;
    background-color: #8501c242;
}

.accordion-body{
    background-color: #d3d3d36a;
}

.main-left h1{
    font-size: 2.3rem;
    color: #8A00C8;
    width: 90%;
    text-shadow: 1px 1px black;
    line-height: 1;
    font-weight: 900;
}

.main-right{
    width: 50%;
}

.booking{
    margin-top: 3rem;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #6B7D92;
    padding-bottom: 4rem;
}

.booking h3{
    font-size: 2rem;
    color: #8A00C8;
    font-weight: 900;
}

.booking p{
    width: 60%;
    font-size: 1.15rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    margin-top: 2rem;
}

.book-time{
    padding: 20px 40px 20px 40px;
    font-size: 1rem;
    background-color: #202135;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .6s ease;
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    width: max-content;
}

.book-time:hover{
    color: white;
    transform: scale(1.05);
    background-color: #8501C2;

}