body{
    display: block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3A4754;
    background-color: #d3d3d385;
}


.accordion{
    width: 60%;
    margin: 1rem auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color: #D3D3D3;
}

.accordion-button:not(.collapsed){
    color: #8501C2;
    background-color: #8501c242;
}

hr{
    color: #8501C2;
}
