@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;900&display=swap');

body{
    display: block;
    color: #3A4754;
    background-color:  #e8e2f09d;
    font-family: 'Bitter', serif;
}


.accordion{
    width: 70%;
    margin: 1rem auto;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color:  #65566c87;
}

.accordion-button:not(.collapsed){
    color: #8501C2;
    background-color: #8501c242;
}

hr{
    color: #8501C2;
}

.accordion-body li{
    list-style: circle;
}

.accordion-body a{
    text-decoration: none;
}
