@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;900&display=swap');

body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(133,1,194,1) 45%, rgba(0,212,255,0) 100%);
    margin: 3rem;
    width: 95vw;
    height: 95vh;
    font-family: 'Bitter', serif;
}

.logo{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.form{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 7px;
}

.form h3{
    text-align: center;
    margin-bottom: 2rem;
}

.form button{
    display: block;
    width: min-content;
    margin: 0.5rem auto;
    padding: 10px 35px 10px 35px;
    font-size: 0.8rem;
    background-color: #3A4754;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .6s ease;
}

.form button:hover{
    background-color: #8501C2;
}

.modal-title{
    color: #8501C2;
}

.modal-footer button{
    background-color: #3A4754;
}

.modal-footer button:hover{
    background-color: #8501C2;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: #8501C2;
}

.btn-new-account{
    display: block;
    color: #E1C2F0;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem;
}

.btn-new-account:hover{
    color: white;
}

.error-massage{
    color: red;
    font-size: 0.8rem;
}