{% load static %}
<link rel="stylesheet" href="{% static 'main/css/header_style.css' %}">
<header class="header">
    <a href="{% url 'main' %}"><img class="logo" src="{% static 'main/img/logo.png' %}" alt=""></a>
    <nav>
        <ul class="nav">
            <a href="{% url 'login' %}">ЗАБРОНИРОВАТЬ ЗАЛ</a>
            <a href="{% url 'news' %}">НОВОСТИ</a>
            <a href="{% url 'faq' %}">FAQ</a>
        </ul>
    </nav>
    <a href="{% url 'login' %}" class="btn-login">{{status}}</a>
</header>
