{% load static %}
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;900&display=swap');

body{
    display: block;
    color: #3A4754;
    font-family: 'Bitter', serif;
}

.content{
    background-color:  #e8e2f09d;
    height: min-content;
    font-family: 'Bitter', serif;
    line-height: 1.5;
    font-weight: 400;
}

.main{
    /*background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(133,1,194,1) 45%, rgba(0,212,255,0) 100%);*/
    /*background-image: url("{% static 'main/img/background.png' %}");*/
    display: flex;
}

.main img{
    width: 100%;
    height: 100%;
}

.main-left{
    width: 50%;
}

.main-left-text{
    margin-left: 6rem;
}

.main-left h1{
    font-size: 3rem;
    color: #8A00C8;
    width: 90%;
    text-shadow: 1px 1px black;
    line-height: 1;
    font-weight: 400;

}

.main-left h4{
    font-size: 1.5rem;
    color: #18002396;
    width: 90%;
}

.main-right{
    width: 50%;
}

.main-left a{
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #8A00C8;
    color: #E8E2F0;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .6s ease;
    margin: 0 auto;
    margin-top: 4rem;
    display: block;
    width: max-content;
}

.main-left a:hover{
    box-shadow: 0 0 0.7em 0 #8501C2, 0 0 0.7em 0 #8501C2;
    transform: scale(1.05);
}

.about-us{
    margin-top: 4rem;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #6B7D92;
    padding-bottom: 4rem;
}

.card-body{
    background-color: #D3D3D3;
}

.about-us h3, .different-info h3{
    font-size: 2rem;
    color: #8A00C8;
    text-shadow: 1px 1px black;
    font-weight: 400;
}

.about-us p, .request p{
    width: 60%;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.options{
    display: flex;
    justify-content: center;
}

.options img{
    margin-top: 3rem;
    height: 70px;
    width: 70px;
}

.options p{
    height: 150px;
}

.options h4{
    color: #3A4754;
}

.options a{
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #202135;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .6s ease;
    margin: 0 auto;
    display: block;
    width: 145px;
    margin-top: 1rem;
}

.options a:hover{
    transform: scale(1.05);
    background-color: #8501C2;
    color: white;
}

.different-info{
    margin-top: 4rem;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #6B7D92;
    padding-bottom: 5rem;
}

.different-info ul{
    text-align:justify;
    font-size: 1.3rem;
}

.flex-info{
    display: flex;
    align-items:center;
}

.flex-info i{
    font-size: 2.5rem;
    margin-right: 1rem;
    color: #202135;
    text-shadow: 0 4px 8px #8501C2;
}

.request{
    background-color: white;
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}

.request h3{
    color: #8A00C8;
    font-size: 2rem;
    text-shadow: 1px 1px black;
    font-weight: 400;
}

.request a{
    padding: 15px 35px;
    font-size: 1rem;
    display: block;
    width: max-content;
    margin: 0 auto;
    background-color: #202135;
    color: white;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .6s ease;
}

.request a:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0.7em 0 #8501C2, 0 0 0.7em 0 #8501C2;
}

.request p{
    margin-bottom: 2rem;

}

@media screen and (max-width: 1260px){
    
    .main-left h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1200px){
    
    .main-left h1{
        font-size: 2.2rem;
    }

    .main-left h4{
        font-size: 1.35rem;
    }

    .main-left a{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1024px){
   .main-left h1{
        font-size: 2rem;
    }

    .main-left h4{
        font-size: 1.2rem;
    }

    .main-left a{
        margin-top: 3rem;
        padding: 15px 35px;
        font-size: 0.8rem;
     }

    .different-info ul{
        font-size: 1.1rem;
    }

    .about-us h3, .different-info h3, .request h3{
        font-size: 1.7rem;
    }

    .request a{
        width: max-content;
    }
}

 @media screen and (max-width: 930px){

    .main-left h1{
        font-size: 1.7rem;
    }

    .main-left a{
        margin-top: 2rem;
        padding: 10px 30px;
        font-size: 0.8rem;
     }

     .main-left-text{
        margin-left: 4.5rem;
     }

     .options a{
        padding: 10px 20px;
        font-size: 0.8rem;
        width: 120px;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 820px){

    .main-left-text{
        margin-left: 3rem;
    }
    
    .main-left h1{
         font-size: 1.5rem;
     }
 
     .main-left h4{
         font-size: 1rem;
     }

     .main-left a{
        margin-top: 2rem;
        padding: 10px 30px;
        font-size: 0.8rem;
     }
 
     .different-info ul{
         font-size: 1rem;
     }

     .about-us{
        margin-top: 2rem;
        width: 90%;
        padding-bottom: 2rem;
    }

    .options a{
        padding: 10px 20px;
        font-size: 0.8rem;
        width: 120px;
        margin-top: 1rem;
    }

    .about-us h3, .different-info h3, .request h3{
        font-size: 1.5rem;
    }

    .request a{
        padding: 10px 25px;
        font-size: 1rem;
    } 
 }

 @media screen and (max-width: 833px){

    .main-left h4{
        font-size: 0.8rem;
    }
    
    .main-left a{
        margin-top: 2rem;
        padding: 10px 30px;
        font-size: 0.8rem;
     }

     .about-us p, .request p {
        width: 70%;
        font-size: 0.8rem;
    }
 
     .different-info ul{
         font-size: 1rem;
     }

     .about-us{
        margin-top: 2rem;
        width: 90%;
        padding-bottom: 2rem;
    }

    .options a{
        padding: 10px 20px;
        font-size: 0.8rem;
        width: 120px;
        margin-top: 1rem;
    }

    .about-us h3, .different-info h3, .request h3{
        font-size: 1.5rem;
    }

    .request a{
        padding: 10px 25px;
        font-size: 1rem;
    } 
 }
 
 @media screen and (max-width: 640px){

    .main{
        display: block;
    }

    .main-left, .main-right{
        width: 100%;
    }

    .main-left h4{
        color: #202135;
    }

    .main-left a{
        margin-bottom: 1rem;
    }

    .about-us p{
        width: 80%;
        margin-bottom: 0;
    }

    .request p{
        width: 85%;
    }

    .options{
        display: block;
    }

    .options h4 {
        margin: 0.5rem;
    }

    .options p{
        height: 65px;
    }
    

    .options img{
        margin-top: 1.5rem;
        height: 60px;
        width: 60px;
    }

    .request{
        padding-top: 1rem;
    }

    .about-us{
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .different-info {
        margin-top: 1rem;
        width: 80%;
        padding-bottom: 1rem;
    }

    .flex-info i{
        font-size: 1.8rem;
        margin-right: 1rem;
    }

 }

 @media screen and (max-width: 380px){

    .options p{
        height: 85px;
    }
    
    .request h3{
        font-size: 1.3rem;
    }

    .about-us{
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .different-info {
        margin-top: 1rem;
        width: 80%;
        padding-bottom: 1rem;
    }

    .flex-info i{
        font-size: 1.8rem;
        margin-right: 1rem;
    }

 }